.imageContainer {
    position: relative;
    display: inline-block;
}

.alternativeText {
    position: absolute;
    z-index: 2;
    background-color: #eee;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
