.THIS {
    position: relative;
}

.THIS .position_border {
    position: absolute;
    left: -8px;
    top: 48px;
}

.THIS .position_bare {
    position: absolute;
    left: -16px;
    top: 32px;
}

.THIS .slds-popover {
    width: unset;
    white-space: nowrap;
}
